@charset "UTF-8";
/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Выбор типографических стилей */
body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.content {
  padding: 3% 2%;
}

.link-block {
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.link-block:hover {
  color: #F16D7F;
}

.link-icon {
  display: block;
}

.link-icon svg path {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.link-icon:hover svg path {
  fill: #F16D7F;
}

.color-reverse-white {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.uppercase-text {
  text-transform: uppercase;
}

/* ******* подложки основных макетов  ******* */
.header-back {
  background: #222222;
}

/* ******* стили header  ******* */
.nav-header {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header__left {
  width: 110px;
}

.nav-header__right {
  max-width: 168px;
}

.nav-header__left, .nav-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-menu {
  background: none;
  padding: 0;
  cursor: pointer;
  border: none;
}

.menu-list {
  height: 75px;
  margin-top: 48px;
}

.menu-box {
  position: absolute;
  width: 232px;
  min-height: 764px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  padding: 16px 0px 37px 35px;
  right: 0;
  top: 75px;
  z-index: 1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-open {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.menu-button-exit {
  background: none;
  cursor: pointer;
  border: none;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  fill: #6f6e6e;
  margin-left: auto;
  padding-right: 16px;
}

.menu-heading {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.menu-heading-section {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
  font-weight: normal;
}

.munu-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 11px;
  margin-left: 20px;
}

/* Обозначение количества предметов в корзине */
.shop-link {
  position: relative;
}

.shop-link .color-reverse-pink {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.shop-link:hover .color-reverse-pink {
  color: #F16D7F;
  background: #FFFFFF;
}

.shop-el {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 19px;
  height: 19px;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  background: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
}

.header__link-icon {
  margin-right: 35px;
}

@media screen and (max-width: 380px) {
  .profile, .shop-link {
    display: none;
  }
}

/******** стили index **********/
.banner-back {
  background: #F1E4E6;
}

.content_banner {
  min-height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2%;
}

.content-left {
  position: relative;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 405px;
}

.content-right {
  margin: 0 auto;
}

.line {
  border-left: 12px solid #F16D7F;
  display: float;
}

.banner_one,
.banner_two,
.bannner_three {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.banner_text {
  margin-left: 16px;
}

.banner_two {
  font-size: 32px;
}

.banner_three {
  color: #F16D7F;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer_item1, .offer_item2, .offer_item3, .offer_item4 {
  margin-top: 65px;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  height: 260px;
  text-align: center;
  padding-top: 105px;
}

.offer_item1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7))), url(../img/offer1.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7)), url(../img/offer1.png);
  margin-right: 30px;
}

.offer_item2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7))), url(../img/offer2.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7)), url(../img/offer2.png);
  margin-right: 30px;
}

.offer_item3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7))), url(../img/offer3.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7)), url(../img/offer3.png);
}

.offer_item4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7))), url(../img/offer4.png);
  background-image: linear-gradient(rgba(33, 22, 22, 0.7)), url(../img/offer4.png);
  width: 1140px;
  height: 180px;
  margin-top: 30px;
  margin-bottom: 96px;
  padding-top: 65px;
}

.ofer_item_link {
  display: block;
  text-decoration: none;
}

.offer_item1_text {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.offer_heading {
  font-size: 24px;
  line-height: 28px;
  color: #F16D7F;
}

.products {
  margin-bottom: 95px;
}

.product-header {
  text-align: center;
}

.product-heading {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.product-text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.product-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 63px;
}

.product-link {
  display: block;
  text-decoration: none;
}

.product-card {
  width: 360px;
  margin-top: 47px;
  position: relative;
  background: #F8F8F8;
}

.img-product {
  width: 100%;
}

.product-card:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product-card:hover .img-product {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.card-heading {
  padding: 24px 18px 12px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card-text {
  padding-left: 18px;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.product-price {
  padding-left: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-bottom: 20px;
}

.add {
  border: 1px solid #FFFFFF;
  padding: 12px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-txt {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 11px;
}

.add-box {
  position: absolute;
  top: 200px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.product-button-box {
  display: block;
  text-decoration: none;
  text-align: center;
}

.product-button {
  background: #F16D7F;
  border: 1px solid #FF6A6A;
  height: 48px;
  width: 212px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}

.product-card:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px #FFFFFF;
          box-shadow: 0 0 10px #FFFFFF;
}

.feature {
  background: #222224;
}

.feature-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 341px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-item-delivery {
  width: 360px;
  text-align: center;
}

.feature-heading {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 28px;
  margin-bottom: 16px;
}

.feature-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  color: #FBFBFB;
}

/* Стили страницы каталога */
.breadcrump-back {
  background: #F8F3F4;
}

.nav-breadcrump {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.breadcrump-left {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  color: #F16D7F;
}

.text-link-catalog {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  padding-left: 5px;
}

.text-pink {
  color: #F16D7F;
  font-weight: bold;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 51px;
  margin-bottom: 17px;
}

.filter-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.menu-hight {
  position: absolute;
  display: none;
}

.img-add {
  margin-top: 1px;
  margin-left: 11px;
}

.filter-add-txt {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

summary::-webkit-details-marker {
  display: none;
}

.tempt1::after {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  content: "tranding nov \25B6";
}

.tempt2::after {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  content: "size \25B6";
}

.tempt3::after {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  content: "price \25B6";
}

.temp1,
.temp2,
.temp3 {
  width: 150px;
  position: relative;
}

.temp2 {
  width: 70px;
}

.temp3 {
  width: 80px;
}

details {
  position: absolute;
  z-index: 1;
}

.filter-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 79px;
  height: 103px;
  left: 771px;
  top: 296px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.pagination-bag .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination {
  width: 284px;
  height: 44px;
  color: #C4C4C4;
}

.pag-red {
  color: #F16D7F;
}

.pagination-elem {
  padding-left: 10px;
  text-decoration: none;
}

/* Стили страницы product */
.slider {
  height: 500px;
}

/* Стили страницы cart */
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.product-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttom-cart {
  display: block;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #A4A4A4;
  width: 224px;
  height: 49px;
  text-align: center;
  padding-top: 17px;
}

.box-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ******** стили footer ********** */
.footer-autor {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7))), url(../img/footerbackground.png);
  background-image: linear-gradient(rgba(244, 244, 244, 0.7)), url(../img/footerbackground.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.footer-autor-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 448px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright {
  background: #222224;
}

.footer-copyright-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.figure-autor {
  text-align: center;
  height: 225px;
  width: 360px;
}

.figcaption-subscribe {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer-copyright-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
  height: 79px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foroter-autor-subscribe-right {
  text-align: center;
}

.subscribe-text {
  font-size: 18px;
  line-height: 167.2%;
  margin-bottom: 32px;
}

.subscribe-heading {
  font-size: 24px;
  line-height: 167.2%;
}

.input-email {
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  border: inherit;
  color: #222224;
  opacity: 0.67;
  padding-left: 22px;
  border-radius: 20px 0 0 20px;
}

.button-email {
  background: #F16D7F;
  width: 100px;
  height: 49px;
  border: inherit;
  color: #FFFFFF;
  border-radius: 0 20px 20px 0;
}

.social-icon {
  background: #FFFFFF;
  height: 32px;
  width: 32px;
}

.social-img-icon {
  display: block;
  padding: 8px 10px 8px 10px;
}

.social-link {
  display: block;
  text-decoration: none;
}

.copyright-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social-icon:hover {
  background: #F16D7F;
}
/*# sourceMappingURL=style.css.map */